*{
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 1rem;
}
.wrapper > div:nth-child(1){
    grid-column: 1 / -1;
}
.wrapper div{
    background-color: royalblue;
    font-size: 2rem;
    padding: 1rem;
}
.wrapper div:nth-child(even){
    background-color: skyblue;
}